fastapi==0.115.0
uvicorn==0.31.0
sqlalchemy==2.0.36
alembic==1.14.0
pydantic==2.9.2
pydantic-settings==2.3.0
pydantic[email]==2.9.2
python-dotenv==1.0.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
pyjwt==2.10.1
aiosqlite==0.20.0
aiopg==1.4.0
asyncpg==0.31.0
pytest==8.3.2
pytest-asyncio==0.24.0
httpx==0.28.1
black==24.10.0
ruff==0.6.9
mypy==1.14.1
sqlalchemy[asyncio]==2.0.36
types-python-jose==1.8.20
